*{
    list-style: none;
}

body{
    display: flex;
}

nav{
    width: 500px;
    background-color: #d4addc;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

nav ul{
    display: inline-flex;
}

li{
margin: 5px 5px 5px 5px;
}

a{
    text-decoration: none;
    padding: 20px 15px;
}

a:hover{
    color: #FFF;
    background-color: blue;
    cursor: pointer;
}